@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {    
    height: 100vh;
    width: 100vw;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    
    height: 100vh;
}

#telefone {
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 23px;
    width: 266px;
    height: 472px;
}

section#redes-sociais {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: end;    
    background-color: green;
    height: 100vh;
    
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.454);
    box-sizing: border-box;
    transition: all ease-in 0.5s;
    
}

section#redes-sociais img:hover {
    border: 1px solid white;
    transform: scale(1.2);
}